@import "~bootstrap/scss/variables";

// Generic
//
img {
  max-width: 100%;
}

.btn {
  cursor: pointer;
}

// Header
//
.header {
  background-color: $brand-primary;
  color: $white;
  padding: $spacer;
  margin-bottom: $spacer;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.site-brand-logo {
  height: 80px;
}

.site-brand-type {
  margin-top: -25px;
  text-shadow: 1px 1px 0 $black;
}

// Pizza Card
//
.btn-topping {
  margin: 0 5px 5px 0;
}

.btn-pizza-select {
  span {
    display: block;
    opacity: .7;
  }
}

.btn-topping {
  font-size: $font-size-xs;
}
